{% extends "blogApp/../base.html" %}

{% block title %}
    Update Post
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h3>Editing <span style="color: yellowgreen">{{ post.title }}</span></h3>
        <br><br>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button class="btn btn-success">Update</button>
            <a href="/" type="button" class="btn btn-secondary" style="margin-left: 10px">Back</a>

        </form>

    {% else %}
        You are allowed to visit this page!!!
        <br>
        <a href="/auth/login" type="button" class="btn btn-secondary" style="margin-top: 20px">Login</a>
    {% endif %}
{% endblock %}
